<!doctype html>
<html ng-app="gourmetklub" ng-strict-di>
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div ng-controller="GourmetklubController as gourmetklub">
      <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <div ng-repeat="restaurant in restaurants">
          <ui-gmap-marker
            ng-click='onMarkerClicked(m)'
            idkey='restaurant.id'
            coords='{latitude: restaurant.lat, longitude: restaurant.lng}'
            options='{"labelClass":"marker_labels","labelAnchor":"22 0", "labelContent": restaurant.name}'>
            <ui-gmap-window show="restaurant.showWindow"
                            closeClick="'closeClick'"
                            templateUrl="'restaurant.html'"
                            templateParameter="restaurant"
                            ng-cloak>
            </ui-gmap-window>

          </ui-gmap-marker>
        </div>
      </ui-gmap-google-map>
    </div>

    <!-- begin_autoreplace_with_uglyfied -->
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-resource/angular-resource.js"></script>
    <script src="vendor/lodash/lodash.js"></script>
    <script src="vendor/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="vendor/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="src/app.js"></script>
    <!-- end -->
  </body>
</html>
